body {
    background-color: #f4f4f4;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.default-header {
    width: 100%;
    position: fixed;
    top: 0px;
    left : 0px;
    height: 10%;
    background-color: #555555;
}

#visual-state-container {
    width: 100%;
    position: fixed;
    top: 10%;
    left : 0px;
    height: 90%;
    background-color: #eeba30;
}

.inactive-visual-state {
    display: none;
}

.active-visual-state {
    display: block;
    position: relative;
}

.say-hello-container {
    position: fixed;
    top: 30%;
    height: 30%;
    text-align: center;
    width: 100%;
    font-weight: bolder;
}

.say-hello-container p {
    font-size: 15px;
    text-transform: uppercase;
}

.say-hello-container .hello-wally {
    border: 6px solid black;
    width: 40%;
    text-align: center;
    margin : auto;
    text-transform: uppercase;
    padding: 20px 20px;
    font-size: 3em;
}

#echo-commands {
    position: fixed;
    top: 20%;
    height: 60%;
    text-align: center;
    width: 100%;
    font-weight: bolder;
}

.say-something {
    border: 4px solid black;
    width: 30%;
    text-align: center;
    margin : auto;
    text-transform: uppercase;
    padding: 20px 20px;
    font-size: 2em;
}

.annyang-result {
    text-transform: uppercase;
    font-size: 2em;
}